.benefits{
    padding: 50px 0;
}
.benefits_container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.benefit_card{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 370px;
    box-shadow: 0 18px 50px 0 #e6e7ed;
    padding: 20px;
    /* min-width: 370px; */
}
.benefit_card .benefit_card_text{
    display: flex;
    flex-direction: column;

}