.profileComponent{
    background: #f4f6f8;
    flex: 1;
}
.customerProfile{
    padding: 30px 0;
}
.customerProfile .list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    position: sticky;
    top: 20px;
}
.customerProfile .list li {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.customerProfile .list li.selected {
    background: #d1e4e27e;
    color: #0fa08f;
}
.SelectedComponent{
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
/* Address component */
.address-form-container .address-form-container {
    /* max-width: 400px; */
    /* margin: 0 auto; */
}
.form-container .form-group {
  margin-bottom: 15px;
}
.form-container label {
  display: block;
  font-weight: bold;
}
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}
.form-container .locked{
  cursor: pointer;
  color: blue;
}
.form-container input:disabled{
  background-color: #f2f2f2; /* Light gray background color */
  color: #888; /* Slightly muted text color */
}
/* orders */
.orders{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order_items{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order_items .order{
  display: flex;
  gap: 10px;
}
.order img{
  width: 150px;
  object-fit: cover;
  object-position: center;
}
.order .address{
  position: absolute;
  top: 110%;
  z-index: 2;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
}