.bg_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: linear-gradient(to right, rgba(52, 42, 157, 0.4), rgba(121, 163, 76, 0.4)), url('../../assets/auth_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.bg_container form{
    width: 90%;
    max-width: 400px;
    background: #fff;
    padding: 35px 20px;
}