*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: unset;
}
li{
  list-style: none;
}
.carousel-image{
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* .sliderr{
  height: 400px;
  overflow: hidden;
}
.indicators{
  height: 100%;
 
} */
@media screen and (max-width:768px) {
  .backdrop-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.5);
    z-index: 100;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a9d90a0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b30000; */
}

::-webkit-scrollbar {
  width: 10px;
  border: 5px solid white;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 8px;
  width: 16px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

/* Up button on hover */
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: #777777 transparent transparent transparent;
}

/* Down button on hover */
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-color: transparent transparent #777777 transparent;
}
