*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: unset;
}
li{
  list-style: none;
}
.carousel-image{
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev, .slick-next{
  z-index: 10;
}
.slick-arrow::before{
  color: #000 !important;
}
.slick-dots{
  bottom: -50px !important; 
}
.breadcrumb{
  display: flex;
  gap: 5px;
  align-items: center;
}
.breadcrumb a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .slick-next{
    right: 0 !important;
  }
  .slick-prev{
    left: 0 !important;
  }
}
.logReg_btn{
  background: #f4a361;
  padding: 6px 12px;
  border-radius: 10px;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.logReg_btn:hover{
  background: #f4a361d3;
}
/* .sliderr{
  height: 400px;
  overflow: hidden;
}
.indicators{
  height: 100%;
 
} */
@media screen and (max-width:768px) {
  .backdrop-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.5);
    z-index: 100;
  }
}