.reg_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: linear-gradient(to right, rgba(52, 42, 157, 0.4), rgba(121, 163, 76, 0.4)), url('../../assets/auth_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.reg_container form{
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 50px 20px;
}
.reg_container input[type="file"]:hover ~ .plus{
  opacity: 1;
}
.reg_container .notSelected{
  opacity: 1 !important;
}
.reg_container .grid{
  display: flex;
  column-gap: 20px;
  row-gap: 15px;
  /* grid-auto-flow: column; */
  /* grid-template-columns: repeat(auto-fit, 250px); */
  /* justify-content: center; */
  flex-wrap: wrap;
}
.reg_container .grid .input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(100% / 2 - 10px);
}
.reg_container .grid .input_full {
  width: calc(100% / 1);
}
.reg_container .grid .input input{
  outline: none;
  height: 40px;
  padding: 0 20px;
}
.reg_container .input input:focus, .input input:valid{
  border: 1px solid #2a9d8f;
}
.reg_container .reg_container .input label{
  font-weight: bold;
}
.reg_container .RegBtn_div{
  margin-top: 20px;
}
.reg_container .RegBtn_div a{
  color: blue;
}
.reg_container .RegBtn{
  margin-top: 15px;
  background: #2a9d8f;
  color: #fff;
  border: 0;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  /* max-width: 400px; */
}
.reg_container .RegBtn:hover{
  opacity: 0.7;
}
.reg_container .reg_container .delete_RegBtn{
  cursor: pointer;
  color: red;
}
.reg_container .reg_container .error{
  margin-top: 10px;
  color: red;
}
@media screen and (max-width: 544px) {
 .reg_container .grid .input {
    width: calc(100% / 1);
  }
}